.body {
    margin: 0;
    text-align: center;
}

.game-board {
    margin: 0 auto;
    width: 600px;
    height: 600px;
    background-color: darkcyan;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 10px;
    gap: 10px;
}

.tile {
    font-size: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}


/* disables click event */

.tile.clicked {
    pointer-events: none;
    user-select: none;
}

.tile.clicked::selection {
    background: none;
}

.tile.clicked::-moz-selection {
    background: none;
}

.tile:hover {
    opacity: .8;
}